<?xml version="1.0" ?>
<config>
    <modules>
        <NPS_CategorySeo>
            <version>0.1.0</version>
        </NPS_CategorySeo>
    </modules>
    <global>
        <helpers>
            <categoryseo>
                <class>NPS_CategorySeo_Helper</class>
            </categoryseo>
        </helpers>
        <events>     
            <catalog_product_save_after>      
                <observers>     
                    <!--<product_Save_Url_Rewrite>     
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>updateUrlReWrite</method>  
                    </product_Save_Url_Rewrite>-->
                </observers>  
            </catalog_product_save_after>
            <catalog_category_prepare_save>
                <observers>
                    <categoryseo_save>
                        <type>singleton</type>
                        <class>NPS_CategorySeo_Model_Observer</class>
                        <method>categorySave</method>
                    </categoryseo_save>
                </observers>
            </catalog_category_prepare_save>
        </events>
        <blocks>
            <categoryseo>
                    <class>NPS_CategorySeo_Block</class>
            </categoryseo>
        </blocks>
        <resources>
        </resources>
    </global>
    <admin>
        <routers>
            <categoryseo>
                <use>admin</use>
                <args>
                    <module>NPS_CategorySeo</module>
                    <frontName>CategorySeo</frontName>
                </args>
            </categoryseo>
        </routers>
    </admin>
</config>