<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Rma>
            <version>1.0.14</version>
        </Mirasvit_Rma>
    </modules>
    <global>
        <blocks>
            <rma>
                <class>Mirasvit_Rma_Block</class>
            </rma>
        </blocks>
        <models>
            <rma>
                <class>Mirasvit_Rma_Model</class>
                <resourceModel>rma_resource</resourceModel>
            </rma>
            <rma_resource>
                <class>Mirasvit_Rma_Model_Resource</class>
                <entities>
                    <rma>
                        <table>m_rma_rma</table>
                    </rma>
                    <rma_store>
                        <table>m_rma_rma_store</table>
                    </rma_store>
                    <item>
                        <table>m_rma_item</table>
                    </item>
                    <reason>
                        <table>m_rma_reason</table>
                    </reason>
                    <status>
                        <table>m_rma_status</table>
                    </status>
                    <resolution>
                        <table>m_rma_resolution</table>
                    </resolution>
                    <condition>
                        <table>m_rma_condition</table>
                    </condition>
                    <comment>
                        <table>m_rma_comment</table>
                    </comment>
                    <field>
                        <table>m_rma_field</table>
                    </field>
                    <template>
                        <table>m_rma_template</table>
                    </template>
                    <template_store>
                        <table>m_rma_template_store</table>
                    </template_store>
                </entities>
            </rma_resource>
        </models>
        <helpers>
            <rma>
                <class>Mirasvit_Rma_Helper</class>
            </rma>
        </helpers>
        <resources>
            <mst_rma_setup>
                <setup>
                    <module>Mirasvit_Rma</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_rma_setup>
        </resources>
        <events>
            <helpdesk_process_email>
                <observers>
                    <m_rma_observer>
                        <type>singleton</type>
                        <class>rma/observer</class>
                        <method>onHelpdeskProcessEmail</method>
                    </m_rma_observer>
                </observers>
            </helpdesk_process_email>
        </events>
        <template>
            <email>
               <rma_notification_customer_email_template translate="label" module="rma">
                   <label>RMA - Notification Email for Customer</label>
                   <file>mst_rma/notification_customer_email_template.html</file>
                   <type>html</type>
               </rma_notification_customer_email_template>
               <rma_notification_admin_email_template translate="label" module="rma">
                   <label>RMA - Notification Email for RMA Owner</label>
                   <file>mst_rma/notification_admin_email_template.html</file>
                   <type>html</type>
               </rma_notification_admin_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <rma>
                    <file>mst_rma.xml</file>
                </rma>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Rma>
                    <files>
                        <default>Mirasvit_Rma.csv</default>
                    </files>
                </Mirasvit_Rma>
            </modules>
        </translate>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Rma</module>
                    <frontName>rma</frontName>
                </args>
            </rma>
        </routers>
    </frontend>
    <admin>
        <routers>
            <rmaadmin>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Rma</module>
                    <frontName>rmaadmin</frontName>
                </args>
            </rmaadmin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Rma>
                    <files>
                        <default>Mirasvit_Rma.csv</default>
                    </files>
                </Mirasvit_Rma>
            </modules>
        </translate>
        <layout>
            <updates>
                <rma>
                    <file>mst_rma.xml</file>
                </rma>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <rma>
            <general>
                <default_status>1</default_status>
                <is_require_shipping_confirmation>1</is_require_shipping_confirmation>
                <shipping_confirmation_text>Do you confirm, that you have sent the package to the RMA department?</shipping_confirmation_text>
                <is_gift_active>0</is_gift_active>
                <is_helpdesk_active>0</is_helpdesk_active>
                <is_manual_creditmemo>0</is_manual_creditmemo>
                <rma_grid_columns>increment_id,order_increment_id,customer_name,user_id,last_reply_name,status_id,created_at,updated_at</rma_grid_columns>
            </general>
            <frontend>
                <is_active>1</is_active>
            </frontend>
            <policy>
                <return_period>360</return_period>
                <allow_in_statuses>complete</allow_in_statuses>
            </policy>
            <number>
                <format>[store][counter]</format>
                <counter_start>1</counter_start>
                <counter_step>1</counter_step>
                <counter_length>8</counter_length>
            </number>
            <notification>
                <sender_email>general</sender_email>
                <customer_email_template>rma_notification_customer_email_template</customer_email_template>
                <admin_email_template>rma_notification_admin_email_template</admin_email_template>
            </notification>
        </rma>
    </default>
</config>