<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <rma translate="label" module="rma">
            <label>RMA</label>
            <tab>mstcore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <!-- <frontend_model>mstcore/system_config_form_fieldset</frontend_model> -->
                    <fields>
                        <return_address translate="label">
                            <label>Return Address</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </return_address>
                        <default_status translate="label">
                            <label>Default status for new RMA</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rma/status</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_status>
                        <default_user translate="label">
                            <label>Default owner for new RMA</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rma/system_config_source_admin_user</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_user>
                        <is_require_shipping_confirmation translate="label">
                            <label>Ask customer to confirm shipping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_require_shipping_confirmation>
                        <shipping_confirmation_text translate="label">
                            <label>Shipping confirmation text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_confirmation_text>
                        <is_gift_active translate="label">
                            <label>Enable option "This was a gift"</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_gift_active>
                        <is_helpdesk_active translate="label">
                            <label>Enable integration with Help Desk</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[works only if you have installed Mirasvit Help Desk MX extension.]]>
                            </comment>
                        </is_helpdesk_active>
                        <is_manual_creditmemo translate="label">
                            <label>Create Credit Memo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rma/config_source_is_manual_creditmemo</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_manual_creditmemo>
                        <credit_memo_adjustment_fee translate="label">
                            <label>Credit memo Adjustment Fee</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[Applied only for credit memo created automatically. You can enter absolute or percent value (e.g. 10.00 or 15%)]]>
                            </comment>
                        </credit_memo_adjustment_fee>
                        <is_refund_shipping_fee translate="label">
                            <label>Refund Shipping Fee</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[Applied only for credit memo created automatically.]]>
                            </comment>
                        </is_refund_shipping_fee>
                        <is_online_refund translate="label">
                            <label>Refund Online</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[Applied only for credit memo created automatically.]]>
                            </comment>
                        </is_online_refund>
                        <is_send_exchange_order_confirmation translate="label">
                            <label>Send Exchange Order Confirmation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_send_exchange_order_confirmation>
                        <brand_attribute translate="label">
                            <label>Code of "Brand" attribute</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[used for reports]]>
                            </comment>
                        </brand_attribute>
                        <file_allowed_extensions translate="label">
                            <label>Allow upload only attachments with extensions</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[comma separated list.<br> e.g. jpg, jpeg, gif, png, bmp, pdf]]>
                            </comment>
                        </file_allowed_extensions>
                        <file_size_limit translate="label">
                            <label>Limit of attachments size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                            <![CDATA[in megabytes. leave blank to disable this feature.]]>
                            </comment>
                        </file_size_limit>
                        <rma_grid_columns translate="label">
                            <label>Show Columns in RMA Grid</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rma/config_source_rma_grid_columns</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rma_grid_columns>
                    </fields>
                </general>
                <frontend>
                    <label>Customer Account</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>20</sort_order>
                    <!-- <frontend_model>mstcore/system_config_form_fieldset</frontend_model> -->
                    <fields>
                        <is_active translate="label">
                            <label>Show RMA section in Customer Account</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                    </fields>
                </frontend>
                <policy>
                    <label>RMA Policy</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>30</sort_order>
                    <!-- <frontend_model>mstcore/system_config_form_fieldset</frontend_model> -->
                    <fields>
                        <return_period translate="label">
                            <label>Allow to request RMA after order completion, days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </return_period>
                        <allow_in_statuses translate="label">
                            <label>Allow to request RMA if order has status</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rma/config_source_order_status</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_in_statuses>
                        <is_active translate="label">
                            <label>Ask to agree with RMA policy text</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <policy_block translate="label">
                            <label>CMS block with RMA policy text</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rma/config_source_cms_block</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </policy_block>
                    </fields>
                </policy>
                <number>
                    <label>RMA Number</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>40</sort_order>
                    <!-- <frontend_model>mstcore/system_config_form_fieldset</frontend_model> -->
                    <fields>
                        <format translate="label">
                            <label>Number Format</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                            <![CDATA[you can use variables [store], [counter], [order]. E.g. 'NM-[store]-[counter]'.]]>
                            </comment>
                        </format>
                        <counter_start translate="label">
                            <label>Start Counter From</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </counter_start>
                        <counter_step translate="label">
                            <label>Counter Increment Step</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </counter_step>
                        <counter_length translate="label">
                            <label>Counter Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </counter_length>
                    </fields>
                </number>
                <notification>
                    <label>Email Notification Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>50</sort_order>
                    <!-- <frontend_model>mstcore/system_config_form_fieldset</frontend_model> -->
                    <fields>
                        <sender_email translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_email>
                        <customer_email_template translate="label">
                            <label>Template of Notification Email for Customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rma/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_email_template>
                        <admin_email_template translate="label">
                            <label>Template of Notification Email for RMA Owner</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rma/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_email_template>
                    </fields>
                </notification>
            </groups>
        </rma>
    </sections>
</config>