<?xml version="1.0" ?>
<config>
    <modules>
        <NPS_CustomAdminFunctions>
            <version>0.1.0</version>
        </NPS_CustomAdminFunctions>
    </modules>
    <global>
        <helpers>
            <customadminfunctions>
                <class>NPS_CustomAdminFunctions_Helper</class>
            </customadminfunctions>
        </helpers>
        <events>     
            <catalog_product_save_after>      
                <observers>     
                    <product_Save_Type_Config>     
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>updateProductTypeConfig</method>  
                    </product_Save_Type_Config>
                    <product_Save_Price_Config>     
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>updateGroupedProductPricing</method>  
                    </product_Save_Price_Config>
                    <product_Save_Inv_Config>     
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>updateGroupedProductInventory</method>  
                    </product_Save_Inv_Config>
                </observers>  
            </catalog_product_save_after> 
            <catalog_product_edit_form_render_recurring>
                <observers>     
                    <product_notify_hip_chat>     
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>notifyHipChatEdit</method>  
                    </product_notify_hip_chat>
                </observers>
            </catalog_product_edit_form_render_recurring>
            <nps_vendor_order_processor>
                <observers>
                    <vendor_order_sourcing>
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>orderVendorProcessing</method>  
                    </vendor_order_sourcing>
                </observers>  
            </nps_vendor_order_processor>
        </events>
        <blocks>
            <customadminfunctions>
                    <class>NPS_CustomAdminFunctions_Block</class>
            </customadminfunctions>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>NPS_CustomAdminFunctions_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                    <sales_order_view_tabs>NPS_CustomAdminFunctions_Block_Adminhtml_Ordertabs</sales_order_view_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <nps_attribute_manager>
                <use>admin</use>
                <args>
                    <module>NPS_CustomAdminFunctions</module>
                    <frontName>AttributeManager</frontName>
                </args>
            </nps_attribute_manager>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <nps_attribute_manager_menu translate="title" module="customadminfunctions">
                        <title>NPS Attribute Tools</title> 
                        <sort_order>30</sort_order>
                        <action>AttributeManager/index/index</action>
                    </nps_attribute_manager_menu>
                </children>
            </catalog>
        </menu>
        <!--
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <AttributeManager translate="title" module="customadminfunctions">
                                    <title>NPS Attribute Tools</title>
                                    <sort_order>-10</sort_order>
                                </AttributeManager>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>-->
    </adminhtml>
    <frontend>
        <routers>
            <customadminfunctions>
                <use>standard</use>
                <args>
                    <module>NPS_CustomAdminFunctions</module>
                    <frontName>customadminfunctions</frontName>
                </args>
            </customadminfunctions>
        </routers>
        <layout>
            <updates>
                <!-- module alias -->
                <customadminfunctions>
                    <!-- File for loading -->
                    <file>customadminfunctions.xml</file>
                </customadminfunctions>
            </updates>
        </layout>
    </frontend>
</config>